@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://source.unsplash.com/1600x900/?nature,water);
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    transition: .5s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

button{
    margin: 0.5rem;
    border-radius: 50%;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(0, 0, 0, 0.623);
    color: #fff;
    cursor: pointer;
    transition: .5s ease-in-out;
}
button:hover{
    box-shadow: 0 0 11px rgba(30,30,30,.2);
    transform: scale(1.1);
}

input{
    margin: .2rem;
    padding: .8rem;
    outline: none;
    border: none;
    border-radius: 8rem;
    width: 400px;
    background-color: #7c7c7c2b;
    border: 1px solid #d3d3d3;
    font-family: inherit;
    font-size: 120%;
    color: #5c5c5c;
}

.card{
    background: #ffffffd0;
    padding: 4rem;
    border-radius: 2rem;
    width: 100%;
    max-width: 500px;
    margin: 1rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}


h2{
    font-size: 2rem;
}

.temp{
    font-size: 3rem;
}

.description{
    text-transform: capitalize;
}

.d-flex{
    display: flex;
    align-items: center;
}

img{
    width: 2.5rem;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "Search your Weather";
    position: absolute;
    top: 0;
    left: 20px;
}

@media screen and (max-width: 600px){
    .card{
        width: 200px;
    }
    input{
        width: 200px;
    }
    button{
        width: 50px;
        height: 30px;
    }

}